{% extends 'main.html' %}
{% block title %} Lista filmów {% endblock %}

{%block site %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
        <h1 class="display-4">Hello {{ user.username }}</h1>
            <a href="{% url 'logout' %}" class="btn btn-success">Logout <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-success">Login <i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
    </div>

    <a href="{% url  'new_film' %}">Add new <i class="fas fa-plus-circle"></i></a>
    {% if films|length == 0 %}
            <h2>No films in database</h2>
    {% else %}
        <!--        <h2>Amount films in database: {{films|length}}</h2>-->

        {% for film in films %}
            <div class="card" style="width: 36rem;">
              <div class="card-body">
                  <img src="/media/{{film.poster}}" class="film-poster">
                  <div class="row">
                      <div class="col-9">
                          <h5 class="card-title">{{ film }}</h5>
                      </div>
                      <div class="col-3">
                          <a href="{% url 'edit_film' film.id %}" class="film-icon"><i class="fas fa-edit"></i></a>
                          <a href="{% url 'delete_film' film.id %}" class="film-icon"><i class="fas fa-trash-alt"></i></a>
                      </div>
                  </div>
                  <div class="row">
                    <p class="card-text description">{{ film.description }}</p>
                  </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}